@{
    ViewBag.Title = "UserCards";
}

@model List<AizenBankV1.Domain.Entities.Card.CardMinimal>

<div class="container-fluid">
    <!-- User Activity Table -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">User Activity</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Amount</th>
                            <th>Expire Date</th>
                            <th>Type</th>
                            <th>Block</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var card in Model)
                        {
                            <tr>
                                <td>@card.Name</td>
                                <td>@card.MoneyAmount</td>
                                <td>@card.ExpirationDate</td>
                                <td>@card.CardType</td>
                                <td>
                                    <form action="@Url.Action("BlockCard", "Admin", new { id = card.Id })" method="post">
                                        @Html.AntiForgeryToken()
                                        <button type="submit" class="btn btn-danger">Block</button>
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
