
@{
    ViewBag.Title = "CreateCard";
}
@model AizenBankV1.Domain.Entities.Card.CardMinimal


@Html.ValidationSummary(true)
@using (Html.BeginForm("CreateCard", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()
<form method="post">

    <label for="Credential">Name</label>
    @Html.TextBoxFor(Card => Card.Name, new { @class = "form-control", placeholder = "Name", maxlength = "30" })
    @Html.ValidationMessageFor(Card => Card.Name, "", new { @class = "text-danger" })

    <label for="Password">Description</label>
    @Html.TextBoxFor(Card => Card.Description, new { @class = "form-control", placeholder = "Description" })
    @Html.ValidationMessageFor(Card => Card.Description, "", new { @class = "text-danger" })

    <label for="Level">Level</label>
    @Html.DropDownListFor(m => m.CardType, new SelectList(new[]
    {
        new SelectListItem { Text = "Credit", Value = "Credit" },
        new SelectListItem { Text = "Debit", Value = "Debit" },
    }, "Value", "Text"), new { @class = "dropdown" })

    <button>Confirm</button>
    }

</form>
}

