@{
    ViewBag.Title = "Deposit";
}

@model AizenBankV1.Web.Models.DepositDataModel

@Html.ValidationSummary(true)
@using (Html.BeginForm("Deposit", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="container p-0">
        <div class="card px-4">
            <p class="h8 py-3">Deposit Details</p>
            <div class="row gx-3">
                <div class="col-12">
                    <div class="d-flex flex-column">
                        <p class="text mb-1">Cardholder Name</p>
                        <input class="form-control mb-3" type="text" placeholder="Name" value="">
                    </div>
                </div>
                <div class="col-12">
                    <div class="d-flex flex-column">
                        <p class="text mb-1">Card Number</p>
                        <input class="form-control mb-3" type="text" placeholder="1234 5678 435678">
                    </div>
                </div>
                <div class="col-6">
                    <div class="d-flex flex-column">
                        <p class="text mb-1">Expiry Date</p>
                        <input class="form-control mb-3" type="text" placeholder="MM/YYYY">
                    </div>
                </div>
                <div class="col-6">
                    <div class="d-flex flex-column">
                        <p class="text mb-1">CVV</p>
                        <input class="form-control mb-3 pt-2 " type="password" placeholder="***">
                    </div>
                </div>
                <div>
                    <label>Amount:</label>
                    @Html.TextBoxFor(m => m.Money, new { @class = "form-control mb-3 pt-2 amount", placeholder = "Amount" })
                    @Html.ValidationMessageFor(m => m.Money, "", new { @class = "text-danger" })
                </div>
                <div>
                    <label for="SelectedCardName">Destination Card:</label>
                    @Html.DropDownListFor(m => m.SelectedCardName, new SelectList(Model.UserCards, "Name", "Name"), "Select a Card", new { @class = "d-flex flex-column form-control mb-3 pt-2 cardscards", id = "SelectedCardName" })
                    @Html.ValidationMessageFor(m => m.SelectedCardName, "", new { @class = "text-danger" })
                </div>
                <button class="col-12 btn btn-primary mb-3" type="submit">Confirm</button>
            </div>
        </div>
    </div>
}


<style>
    .cardscards{
        margin-left: 15px;
    }

    .dropdown-cards{
        background-color:aqua;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Montserrat', sans-serif;
    }

    label {
        margin-left: 10px;
    }

    .amount {
        margin-left: 13px;
    }

    body {
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }

    .card {
        max-width: 500px;
        margin: auto;
        color: black;
        border-radius: 20 px;
    }

    p {
        margin: 0px;
    }

    .container .h8 {
        font-size: 30px;
        font-weight: 800;
        text-align: center;
    }

    .btn.btn-primary {
        width: 100%;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 15px;
        background-image: linear-gradient(90deg,#9A3B3B 10%,#224abe 100%);
        border: none;
        transition: 0.5s;
        background-size: 200% auto;
    }


    .btn.btn.btn-primary:hover {
        background-position: right center;
        color: #fff;
        text-decoration: none;
    }



    .btn.btn-primary:hover .fas.fa-arrow-right {
        transform: translate(15px);
        transition: transform 0.2s ease-in;
    }

    .form-control {
        color: white;
        background-color: #231011;
        border: 2px solid transparent;
        height: 60px;
        padding-left: 20px;
        vertical-align: middle;
    }

        .form-control:focus {
            color: white;
            background-color: #600c10;
            border: 2px solid #920d0d;
            box-shadow: none;
        }

    .text {
        font-size: 14px;
        font-weight: 600;
    }

    ::placeholder {
        font-size: 14px;
        font-weight: 600;
    }
</style>
